.App {
  text-align: center;
}

.form-container {
  width: 80%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

label {
  border: 1px solid black;
  background: whitesmoke;
  height: 80px;
}
